<header>
  <nav class="navbar">
    <mat-sidenav-container class="mobile-sidenav-container">
      <mat-sidenav #sidenav mode="over" class="mobile-sidenav">
        <div class="sidenav-close-row">
          <span></span>
          <button mat-icon-button (click)="sidenav.close()" aria-label="Close menu">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="sidenav-links">
          @if (isAdmin() && showAdminNav) {
          <a
            routerLink="/admin-dashboard/users"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>people</mat-icon>
            Users
          </a>
          <a
            routerLink="/admin-dashboard/categories"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>category</mat-icon>
            Categories
          </a>
          <a
            routerLink="/admin-dashboard/car-offers"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>directions_car</mat-icon>
            Car Offers
          </a>

          } @else {
          <a
            routerLink="/car-offers"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>directions_car</mat-icon>
            Car Offers
          </a>
          <app-categories-dropdown [mobile]="true" (selected)="sidenav.close()"> </app-categories-dropdown>
          <a
            routerLink="/about"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>info</mat-icon>
            About Us
          </a>
          <a
            routerLink="/contacts"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>contact_mail</mat-icon>
            Contacts
          </a>
          }

          <hr />

          @if (!isLoggedIn()) {
          <a
            routerLink="/login"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>login</mat-icon>
            Login
          </a>
          <a
            routerLink="/register"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>person_add</mat-icon>
            Register
          </a>

          } @else if (isLoggedIn() && !isAdmin()) {
          <a
            routerLink="/profile"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>person</mat-icon>
            Profile
          </a>
          <a
            [routerLink]="['/car-offers/mine']"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>garage</mat-icon>
            My Car Offers
          </a>
          <a
            routerLink="/car-offers/saved"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>favorite</mat-icon>
            Saved Car Offers
          </a>
          <a (click)="handleLogout(sidenav)">
            <mat-icon>logout</mat-icon>
            Logout
          </a>

          } @else if (isLoggedIn() && isAdmin() && !showAdminNav) {
          <a
            routerLink="/profile"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>person</mat-icon>
            Profile
          </a>
          <a
            [routerLink]="['/car-offers/mine']"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>garage</mat-icon>
            My Car Offers
          </a>
          <a
            routerLink="/car-offers/saved"
            routerLinkActive="router-link-active-mobile"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <mat-icon>favorite</mat-icon>
            Saved Car Offers
          </a>
          <a (click)="handleAdminPanelEnter(sidenav)">
            <mat-icon>admin_panel_settings</mat-icon>
            Admin Panel
          </a>
          <a (click)="handleLogout(sidenav)">
            <mat-icon>logout</mat-icon>
            Logout
          </a>

          } @else if (isLoggedIn() && isAdmin() && showAdminNav) {
          <a (click)="handleAdminPanelLeave(sidenav)">
            <mat-icon>home</mat-icon>
            Home
          </a>
          <a (click)="handleLogout(sidenav)">
            <mat-icon>logout</mat-icon>
            Logout
          </a>
          }
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <header class="mobile-header">
          @if(isAdmin() && showAdminNav){
          <a class="logo-link" routerLink="/admin-dashboard">
            <app-logo></app-logo>
          </a>
          }@else {
          <a class="logo-link" routerLink="/home">
            <app-logo></app-logo>
          </a>
          }
          <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
          </button>
        </header>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </nav>
</header>
