:host {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

@media (max-width: 500px) {
  :host {
    padding: 0;
  }
}
