/* ::ng-deep .mat-dialog-container {
  font-size: 1.6rem !important;
  border-radius: 18px !important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.12), 0 1.5px 3px 0 rgba(0, 0, 0, 0.03);
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  background: #fff;
  max-width: 440px;
}

.mat-mdc-dialog-container .mat-mdc-dialog-title + .mat-mdc-dialog-content {
  font-size: 1.4rem !important;
}
 */
