<div class="latest-grid">
  @if (isLoading) {
  <div class="latest-loading">
    <mat-progress-spinner
      diameter="80"
      mode="indeterminate"
      color="primary"
      class="inline-spinner"
      [strokeWidth]="5"
    ></mat-progress-spinner>
  </div>
  } @else {
  <div class="car-offer-list-wrapper">
    <div class="car-offers-list" [@listAnimation]>
      @for (carOffer of offers; track carOffer._id) {
      <div class="car-offer-card" [@cardAnimation]>
        <app-car-offer-card [offer]="carOffer"></app-car-offer-card>
      </div>
      } @empty { @if(!isLoading ){
      <h3 class="car-offers-no-results">No results found</h3>
      } }
    </div>
  </div>
  }
</div>
