:host {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
  position: relative;

  button {
    position: absolute;
    top: 60px;
    left: 25px;
  }
}

@media (max-width: 500px) {
  :host {
    padding-top: 4.2rem;
  }
}
